---
import Footer from '../components/Footer';
import Navbar from '../components/Navbar';

const { title, subtitle } = Astro.props;
const year = new Date().getFullYear();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo-solo.svg" />
    <meta
      name="description"
      content={`Taranium is the first Indonesian blockchain platform built on Ethereum Virtual Machine (EVM) and Solidity. It’s designed to empower local developers and businesses with a robust, scalable, and user-friendly blockchain environment tailored to Indonesia's unique needs. ${year}`}
    />
    <meta name="keywords" content="blockchain, ethereum, solidity, indonesia, evm, taranium" />
    <meta name="author" content=`${title}` />
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={title ? `${subtitle} - ${title}` : 'Taranium'} />
    <meta
      property="og:description"
      content={`Taranium is the first Indonesian blockchain platform built on Ethereum Virtual Machine (EVM) and Solidity. It’s designed to empower local developers and businesses with a robust, scalable, and user-friendly blockchain environment tailored to Indonesia's unique needs. ${year}`}
    />
    <meta property="og:image" content={'/logo-solo.svg'} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title ? `${subtitle} - ${title}` : 'Taranium'} />
    <meta
      name="twitter:description"
      content={`Taranium is the first Indonesian blockchain platform built on Ethereum Virtual Machine (EVM) and Solidity. It’s designed to empower local developers and businesses with a robust, scalable, and user-friendly blockchain environment tailored to Indonesia's unique needs. ${year}`}
    />
    <meta name="twitter:image" content={'/logo-solo.svg'} />

    <!-- JSON-LD Structured -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Taranium",
        "url": "https://taranium.io",
        "logo": "https://taranium.io/logo-solo.svg",
        "foundingDate": "2021",
        "founders": [
          {
            "@type": "Person",
            "name": "Taranium Team"
          }
        ],
        "sameAs": ["https://facebook.com/taranium", "https://twitter.com/taranium", "https://instagram.com/taranium", "https://linkedin.com/company/taranium"]
      }
    </script>
    <!-- Font Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <!-- Font Clash Display -->
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,1,300&display=swap" rel="stylesheet" />

    <title>{title ? `${subtitle ? `${subtitle} - ` : ''}${title}` : 'Taranium'}</title>
  </head>
  <body class="bg-[#1F1F1F] relative">
    <div class="absolute inset-0 -z-10 h-full w-full overflow-hidden">
      <div class="absolute top-[-100px] right-[200px] w-[450px] h-[250px] bg-[radial-gradient(circle_at_center,_#E868FF,_#9B4CD9,_#B53EFF,_#E868FF,_transparent)] opacity-80 blur-[100px]"></div>
      <div class="absolute top-[220px] left-[-230px] w-[450px] h-[250px] bg-[radial-gradient(circle_at_center,_#E868FF,_#9B4CD9,_#B53EFF,_#E868FF,_transparent)] opacity-80 blur-[100px]"></div>
      <div class="absolute top-[63rem] left-[300px] w-[350px] h-[200px] bg-[radial-gradient(circle_at_center,_#E868FF,_#9B4CD9,_#B53EFF,_#E868FF,_transparent)] opacity-80 blur-[150px]"></div>
      <div class="absolute bottom-[250px] right-[-250px] w-[450px] h-[250px] bg-[radial-gradient(circle_at_center,_#E868FF,_#9B4CD9,_#B53EFF,_#E868FF,_transparent)] opacity-80 blur-[150px]"></div>
    </div>
    <main class="font-poppins relative">
      <Navbar client:only="react" />
      <slot />
      <Footer client:only="react" />
    </main>
  </body>
</html>
